/* How do I CSS??*/


.titlebox .subscribers:after {
	content: "Kumiko Enthusiasts";
}
.titlebox .subscribers .word {
	display: none;
}
.titlebox .users-online:after {
	content: "Browsing Rare Kumikos";
}
.titlebox .users-online .word {
	display: none;
}

.side .usertext-body:after {
	display: block;
	overflow: hidden;
	margin: 10px 0;
	content: url('%%Taki%%');
	text-align: center;
}

#header {
    background: url(%%Banner%%);
    height: 250px;
}

#header-bottom-left { position: absolute; bottom: 0; }

/* check this slick CSS code my dudes */

.flair {
    background: url(%%spritesheet%%) no-repeat -9999px;

    border: 0;

    padding: 0;
}

.flair-Kumiflairhap {
    
width: 50px;
    
height: 50px;
    
background-position: -5px -5px;

}


.flair-Kumiflairsad {
    
width: 50px;
    
height: 50px;
    
background-position: -5px -65px;

}


.flair-Kumiflairshocc {
    
width: 50px;
    
height: 50px;
    
background-position: -5px -125px;

}


.flair-Kumiflairsmile {
    
width: 50px;
    
height: 50px;
    
background-position: -5px -185px;

}


.linkflairlabel {
    font-weight: bold;
    color: #000;
    border: 1px solid: #000;
    border-radius: 3px;
}


.linkflair-meme .linkflairlabel {
    background: white;
    color: #F00;
    border: 2px solid: #F00;
    border-radius: 3px;
}

