/*
    VERSION : BETA 0.1
    
    MIT License

    Copyright (c) 2018 Fhadiel

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
*/

html {
    /* Adjust font size */
    /* font-size: 100%; */
    /* Smoothing */
    text-rendering: optimizeLegibility;
    /* text-shadow: rgba(0, 0, 0, .01) 0 0 1px; */
    /* -webkit-text-size-adjust: 100%; */
    /* font-smoothing: antialiased; */
}

* {
    /* outline: solid 1px #00BCD4; */
    /* background-color: hsla(0, 0%, 62%, 0.11)!important; */
}

.search-result mark {
    margin: 0px !important;
    line-height: unset;
}

.flair {
    padding: 0;
    border: 0;
    background: url(%%spritesheet%%) no-repeat -9999px;
}

.flair-Kumiflairhap {
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
}

.flair-Kumiflairsad {
    width: 50px;
    height: 50px;
    background-position: -5px -65px;
}

.flair-Kumiflairshocc {
    width: 50px;
    height: 50px;
    background-position: -5px -125px;
}

.flair-Kumiflairsmile {
    width: 50px;
    height: 50px;
    background-position: -5px -185px;
}

.desktop-onboarding__col_sign-up_image {
    background-image: url(%%k-boss%%);
    background-position: center;
    background-size: cover;
}

.desktop-onboarding__next-button {
    background-color: #795548;
}

.desktop-onboarding__next-button:hover {
    background-color: #8D6E63;
}

.infobar.onboardingbar.redesignNightmodeBar {
    display: grid;
    margin: 0px !important;
    background: url(%%k-night%%);
    background-position: bottom;
    background-size: cover;
}

.archived-error-modal .modal-body {
    background-image: url(%%k-archive%%);
    background-size: cover;
}

.side .spacer {
    /* background-color:white; */
    /* padding:10px 11px; */
    /* box-shadow: 0 1px 2px #9E9E9E; */
}

.crossposting-modal .modal-body {
    background-size: cover;
}

.infobar.onboardingbar.redesignNightmodeBar .onboardingbar-body {
    display: grid;
}

body {
    font-family: 'Open Sans', 'sans-serif';
}

body>#adblock-test {
    grid-area: ad;
}

.comment .midcol {
    margin-top: 3px;
}
.thing.comment .midcol .arrow{
    margin-bottom: 9px;
    background-position: center;
    background-size: contain;
    opacity: 0.2;
}
.thing.comment .midcol .arrow.down{
    background-image:url(%%dedown%%);
}
.thing.comment .midcol .arrow.downmod{
    background-image:url(%%down%%);
    opacity:1;
}
.thing.comment .midcol .arrow.upmod{
    background-image:url(%%up%%);
    opacity: 1;
}
.thing.comment .midcol .arrow.up{
    background-image:url(%%deup%%);
}

.commentarea .menuarea {
    margin: 0px;
}

.menuarea {
    border-bottom: solid 1px #FFCCBC;
}

.stylesheet-customize-container {
    box-sizing: border-box;
    padding: 20px;
}

.content .commentarea {
    padding: 10px;
}

.comment-visits-box .title {
    font-size: 14px;
    font-weight: normal;
}

.link .score.dislikes {
    color: #9575cd;
}

.link .score.likes {
    color: hsl(19, 61%, 55%);
}

.link .score, .rank, .tagline, .number, h1 {
    cursor: default;
}

.thing .child {
    grid-area: a;
    margin: auto;
}

.thing.comment {
    margin-left: 6px;
    /* margin: 17px 0px; */
    /* margin-bottom: 22px; */
    padding-top: 20px;
}

.thing.comment .thing.comment {
    margin-left: 10px;
    padding-top: 12px;
    border: none;
}

.thing.comment .usertext-body p {
    margin: 0px !important;
    color: #263238;
    font-size: 14px !important;
    line-height: 1.5;
}

.combined-search-page .search-submit-button {
    padding: 10px !important;
    border: 0px;
    border-radius: 50%;
    background-color: #FF7043;
    box-shadow: 0 1px 3px #BDBDBD;
    line-height: unset;
}

blockquote {
    padding: 10px !important;
    border-left: solid 3px #43A047 !important;
    background-color: #E8F5E9;
}

.media-preview {
    max-width: unset !important;
}

.traffic-table>* {
    box-sizing: border-box;
    padding: 0px 10px;
}

.comment .entry .buttons .give-gold.gold-give-gold {}

.link-unsave-button {}

.traffic-table {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 12px;
    border-collapse: collapse;
}

.combined-search-page #search input[type=text] {
    border-bottom: solid 1px grey !important;
}

.traffic-table thead {
    background-color: #d37447;
    color: white;
    font-size: 0.9vw;
    text-transform: capitalize;
}

.traffic-table thead tr>* {
    padding: 10px;
}

.traffic-table td {
    margin: auto !important;
    padding: 6px !important;
    font-size: 15px;
}

.traffic-table tbody tr:nth-child(even) {
    background-color: #ffece3;
}

.traffic-table th {
    font-size: 13px;
    text-align: right !important;
}

.traffic-table td {}

.traffic-table caption,
.traffic-tables-side fieldset legend {
    padding: 10px;
    border-bottom: solid 2px #d37447;
    color: #d37447;
    font-size: 20px;
}

.sr-bar a {
    font-size: 12px;
}

.sheets {
    width: 100%;
}

.spacer .leavemoderator {
    grid-column-end: 3;
    grid-column-start: 1;
    margin: auto !important;
    padding: 15px;
    font-size: 0.9vw;
}

.search-result-group {
    /* box-sizing: border-box; */
    /* width: 100%; */
    /* min-width: unset; */
    /* padding: 18px; */
    margin: 0px!important;
}

#moderation_tools {}

#moderation_tools .content {
    padding: 0px;
}

#moderation_tools .content li {
    padding: 2px 3px;
}

#moderation_tools.sidecontentbox li {
    display: block;
}

#moderation_tools a {
    color: #757575;
    font-size: 14px;
}

.moderator-table {}

.moderator-table table {
    width: 100%;
}

.moderator-table a {
    font-size: 18px;
}

.moderator-table td {
    padding: 5px;
}

h1>a {
    border-bottom: solid 1px white;
    color: white;
    color: black;
    font-size: inherit;
}

a.link-button:before {
    padding: 10px;
    background-image: url(%%link%%) !important;
}

a.text-button:before {
    padding: 10px;
    background-image: url(%%text%%) !important;
}

.c-submit-group .btn:active {
    margin-top: auto;
}

.submit-page form.content {
    width: 99.5%;
    margin: 0px;
}

.report-modal .report-form-bottom-panel .c-submit-group {
    display: flex;
    justify-content: flex-end;
    width: unset;
    float: unset;
}

.report-modal .report-form-bottom-panel {
    height: unset;
}

#suggested-reddits li {
    display: inline-flex;
    width: max-content;
    margin: 5px;
    padding: 0px;
    outline: solid 1px;
    /* background: #d39a47; */
    /* border-radius: 60px; */
    color: hsl(0, 0%, 57%);
}

#suggested-reddits li a {
    padding: 7px;
    color: hsl(0, 0%, 34%);
}

.roundfield .roundfield-content {
    height: unset;
    /* height: 100%; */
    margin: 0px;
}

#text-field {}

.title {
    font-size: 20px;
}

.c-form-group {
    margin: 0px;
}

.submit-page .tabmenu a {
    width: 100%;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.submit-page .tabmenu li.selected a {
    color: white;
}

.submit-page .tabmenu li.selected {}

h1 {
    color: #356089 !important;
    font-size: 20px !important;
}

.usertext-edit {
    box-sizing: border-box;
    width: 100%;
}

.roundfield .usertext-edit {
    width: 100%;
}

.linefield label {
    margin: auto;
    font-size: 15px;
}

.linefield .small-field,
.linefield .delete-field,
.linefield .modmail-field {
    padding: 10px 0px;
}

.thing.comment .flat-list {}

.flairselector .customizer input {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 3px;
    border: none;
    border-bottom: solid 1px;
    font-size: 14px;
}

.roundfield input[type=text],
.roundfield input[type=url],
.roundfield input[type=password],
.roundfield input[type=number],
#compose-message .roundfield select,
.linefield input[type=text] {
    box-sizing: border-box;
    width: 100% !important;
    padding: 10px 0px 2px 0px;
    border: none !important;
    border-bottom: solid 1px hsl(0, 0%, 44%) !important;
    outline: none !important;
    background-color: white;
    box-shadow: none !important;
}

.pretty-form input[type=checkbox],
.pretty-form input[type=radio] {
    /* margin:0px!important; */
    margin: 9px;
}

form input[type=checkbox],
form input[type=radio] {
    margin: 0px;
}

form label {
    font-size: 15px;
}

.file-upload-button {
    padding: 12px 15px;
    border: 0px;
    border-radius: 50px;
    background-color: #795548;
    box-shadow: 0 1px 3px #9E9E9E;
    font-size: 20px !important;
}

#newlink-with-image-upload .file-drop-label {
    padding: 10px;
    color: #308d6c;
    font-size: 20px;
}

#newlink-with-image-upload>*:nth-child(3) {}

#newlink-with-image-upload .image-upload-drop-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-color: hsla(0, 0%, 60%, 0.47058823529411764);
}

.tabmenu.formtab .selected a {
    color: #8f370d;
}

.dropdown.srdrop .selected {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.thing .flairselector.drop-choices.active {
    z-index: 3000;
}

.drop-choices {
    border: none !important;
    background-color: #FAFAFA;
    box-shadow: 0px 1px 3px 0px #BDBDBD;
}

.info-notice,
.infobar {
    border: none !important;
    border-left: solid 2px hsl(209, 44%, 37%) !important;
    background-color: hsla(210, 34%, 63%, 0.14901960784313725) !important;
    color: hsl(240, 43%, 19%);
    font-size: 15px !important;
}
.infobar.listingsignupbar{
    /* background-image: url(%%covernew%%)!important; */
    /* background-size: cover!important; */
    /* background-position: center; */
}

#link-desc.infobar {
    font-size: 0px !important;
}

#link-desc.infobar:before {
    font-size: 16px;
    content: 'You are submitting a image. The key to a successful submission is interesting and rare Kumiko';
}

.submit-page li.selected a:before {}

button[disabled],
html input[disabled] {}

label {}

.comment .tagline {}

textarea {
    box-sizing: border-box;
    width: 100% !important;
    padding: 7px !important;
    border: solid 1px #BDBDBD !important;
    font-family: 'Open Sans', sans-serif;
}

textarea.title {
    margin-top: 10px !important;
    text-transform: none !important;
}

.linkflairlabel {
    margin-right: 0px !important;
    padding: 4px;
    border: 0px;
    background-color: transparent;
    color: #8E24AA;
    font-size: 16px;
    line-height: unset;
}

.comment .flair {
    z-index: -3;
    position: absolute;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
}

.report-modal .report-reason-item input[type=radio] {
    box-sizing: border-box;
    margin: 0px 10px;
    padding: 20px;
}

.submit-page button[name=submit] {
    display: flex;
    margin-right: 31px;
    margin-left: auto;
    padding: 10px 30px;
    border: solid 2px;
    border: none;
    background-color: #795548;
    box-shadow: 1px 1px 2px #a2a2a2;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.save-button {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

button {
    padding: 9px 17px;
    border: none;
    background-color: hsl(16, 25%, 38%);
    box-shadow: 0 1px 2px #212121;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.gold-accent.comment-visits-box {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: unset;
    margin: 0px !important;
    padding: 10px;
    border: solid 1px hsl(36, 100%, 57%);
    border-radius: 0px;
    background-color: transparent;
    color: #F57C00;
}

.sheets .buttons {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0px 0px;
}

button#submit-img {
    background-color: none;
}

.flair-entry button {
    margin: 2px 5px !important;
    padding: 5px;
    border-radius: 0px;
    background: none;
    color: #d37447;
    color: #1a7958;
    font-size: 18px;
    text-shadow: none;
}

.flaircell.narrow,
.flairlist .header.narrow {
    width: max-content;
    margin: 0px;
}

.flairrow {}

.flairlist .flaircell input[type="text"] {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: solid 1px;
    border-color: #1a7958;
    box-shadow: none;
    font-size: 17px;
}

.flairrow .tagline,
.flairrow .search-result-meta {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: max-content;
    margin: 10px;
}

.usertable {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    padding: 20px;
}

.buttons .give-gold.gold-give-gold {
    color: #9E9E9E;
}

.flair-entry button:hover {
    text-decoration: underline;
}

.flat-list a.comments {
    padding: 0px 1px 0px 0px !important;
    /* color: #FF5722 !important; */
    font-weight: bold;
}

.post-sharing-button {
    /* color: #FF8A65 !important; */
}

.header {
    /* font-size: 20px; */
    text-transform: uppercase;
    /* width: max-content !important; */
}

.flair-entry {}

.md {}

.linklisting .md,
.commentarea .md {
    margin: 0px;
}

.titlebox .md p {
    color: #212121;
    font-size: 14px !important;
    opacity: 0.8;
}

.usertext-edit.md-container textarea {
    min-height: 100px;
}

.usertext-edit.md-container textarea:focus {
    outline: 2px hsl(0, 0%, 46%);
}

.wiki-page-content .md h2 {
    color: #d37447;
}

#moderation_tools,
.sidecontentbox {
    padding: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 1px 2px #9E9E9E;
}

.sidecontentbox {
    position: relative;
}

li#tab-templates.selected a,
li#tab-grant.selected a,
li#tab-link_templates.selected a {
    font-size: 16px;
    text-decoration: underline;
}

.tabpane-content {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    /* margin:20px; */
    border: none;
}

.comment .child,
.comment .showreplies {
    margin-left: 8px;
    padding-left: 11px;
    border-left: dotted 1px #03A9F4;
    /* background-color: rgba(189, 189, 189, 0.09); */
}

.reddiquette,
.option.active {
    color: #204b75;
    font-size: 13px !important;
    font-weight: normal;
}

.c-close {
    color: white !important;
}

.panestack-title .title {
    font-size: 13px;
}

.panestack-title {
    margin: 0px;
    border: none;
    color: #0e365d;
}

.drop-choices a.choice {
    margin: 2px 0;
    padding: 9px 20px;
    color: #212121;
    font-size: 17px;
    text-transform: capitalize;
}

.drop-choices a.choice:hover {
    background-color: #E0E0E0;
}

.create .morelink {
    background-color: #8f370d;
    background-image: url(%%k-spell%%);
    background-position: center;
}

.gadget .right {
    position: absolute;
    top: 44px;
    right: 11px;
    font-size: 16px;
}

.login-form-side {
    padding: 10px;
    border: navajowhite;
    background-color: hsl(20, 53%, 46%);
    background-image: url(%%k-login%%);
    background-position: center;
    background-size: cover;
    box-shadow: 0 1px 2px #9E9E9E;
}

.login-form-side .recover-password {
    grid-area: c;
    margin: 0px;
    color: white;
}

.login-form-side #remember-me {
    display: grid;
    grid-template-areas: "a b" "c c";
    align-items: center;
}

.login-form-side>input {
    width: 100% !important;
    margin: 0px !important;
    margin: 5px 0px !important;
    padding: 8px !important;
    border: solid 1px #795548!important;
    background-color: hsla(20, 16%, 93%, 0.55);
    font-family: inherit !important;
    font-size: 15px !important;
}
.login-form-side>input:focus{
    background-color:white;
}
.login-form-side button{
    
}
.report-modal .modal-header-title,
.tfa-login-modal .modal-header-title,
.backup-codes-modal .modal-header-title,
.tfa-verify-email-modal .modal-header-title,
.enable-tfa-modal .modal-header-title,
.disable-tfa-modal .modal-header-title {
    color: white;
    font-family: inherit;
}

.report-modal .modal-header,
.tfa-login-modal .modal-header,
.backup-codes-modal .modal-header,
.tfa-verify-email-modal .modal-header,
.enable-tfa-modal .modal-header,
.disable-tfa-modal .modal-header {
    border: none !important;
    background-color: #d37447;
}

.formtabs-content {
    box-sizing: border-box;
    width: 100%;
    padding: 32px;
    border-top: 0px;
}

.formtabs-content .spacer {
    margin: 12px 0px !important;
    border-radius: 0px;
}

body {
    display: grid;
    grid-template-areas: "header header header header " "a content side b" "a content footer b" "a ad footer b";
    grid-template-rows: max-content max-content max-content max-content;
    background-color: #FFEEE6;
}

#adblock-test {
    width: 100%;
    height: 100%;
    height: 91px;
}

.roundfield,
.linefield {
    box-sizing: border-box;
    box-sizing: border-box;
    align-self: flex-end;
    width: 100% !important;
    padding: 0px;
    border-radius: 0px;
    background-color: transparent;
}

.roundfield#reddit-field {
    margin: 35px 0px;
}

.linefield {
    padding: 31px;
}

.pretty-form {
    padding: 0px;
}

.pretty-form .title,
.linefield .title {
    color: #d37447;
    font-size: 24px !important;
}

body>.content {
    box-sizing: border-box;
    display: table;
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-row-start: 2;
    height: 0px;
    min-height: 200px;
    margin: 0px;
    margin-right: 0px !important;
    margin-bottom: 10px;
    padding: 0;
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px #BDBDBD;
}

.submit-page .content>h1 {
    font-size: 25px !important;
}

.content>h1 {
    margin: 0px;
    padding: 20px;
    color: hsl(0, 0%, 0%) !important;
    font-size: 30px;
}

#moresearchinfo {
    color: #0e365d;
}

.nextprev a {
    border: none !important;
    background-color: transparent;
    /* font-size: 0px !important; */
}

#searchexpando {
    box-sizing: border-box;
    width: unset;
    width: 100%;
    margin: 0px;
    border: none;
    border: solid 2px #d37447;
    border-top: 0px;
    border-radius: 0px;
    background-color: transparent;
}

#searchexpando label {
    color: #d37447;
}

p {}

.menuarea .spacer {
    font-size: 16px;
}

.thing.link .arrow {
    background-position: center;
    background-size: contain;
}

.thing.link .arrow.upmod {
    background-image: url(%%fav%%);
    animation: heartpop 200ms;
    opacity: 0.8;
}

.thing.link .arrow.up {
    background-image: url(%%fav-border%%);
    opacity: 0.3;
}

.thing.link .arrow.downmod {
    background-image: url(%%down%%);
}

.thing.link .arrow.down {
    background-image: url(%%dedown%%);
    opacity: 0.1;
}

.thing.comment .tagline .author {
    color: #009688;
    font-weight: bold !important;
}

#noresults {
    height: 410px;
    margin: 5% 26%;
    padding: 10px;
    background-image: url(%%m-where%%);
    background-position: center;
    background-size: cover;
    color: #b55526;
    font-size: 0px !important;
    text-align: center;
    opacity: 0.8;
}

.comments-page #noresults:before {}

#noresults:before {
    font-size: 80px;
}

.nextprev a:hover {
    background-color: transparent;
}

.nextprev .next-button a:before {
    font-size: 60px;
}

.nextprev .prev-button a:before {
    padding: 20px;
    color: #308d6c;
}

.nextprev a:hover:before {
    box-shadow: 0 0 2px #7ec5ac;
}

.top-matter .expando-button {
    align-self: center;
    padding: 9px !important;
    background-size: 50% !important;
    opacity: 0.6;
    /* width: unset; */
}

.expando-button.collapsed {
    background-image: url(%%expand%%) !important;
}

.thumbnail.self {
    background-position: 6px -1267px;
}

.thumbnail.default {
    background-position: 8px -1099px;
}

.expando-button:hover {
    opacity: 1;
}

.expando-button.expanded {}

.expando-button.collapsed {}

.expando-button.expanded {
    background-image: url(%%compress%%) !important;
}

.expando-button.expanded.video,
.expando-button.expanded.selftext,
.expando-button.expanded.crosspost {
    align-self: center;
}

.expando-button.expanded.video:before,
.expando-button.expanded.selftext:before,
.expando-button.expanded.crosspost:before {
    color: #d37447;
    font-size: 1.4vw;
}

.expando-button.collapsed.video:hover:before {
    color: #204b75;
}

.nextprev .separator {
    display: none;
}

.nav-buttons {
    display: flex;
    margin: 0px;
    margin: 0px 30%;
    padding: 10px 0px;
}

.nextprev {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    font-size: 0px;
}

.nextprev>span {
    opacity: 0.7;
    /* background-color: hsl(34, 100%, 31%); */
}

.nextprev>span>a {
    color: #F4511E;
    font-weight: normal;
    text-transform: uppercase;
}

.prev-button {
    flex-grow: 1;
}

.nextprev>span:hover {
    opacity: 1;
}

.spacer .titlebox .subscribe-button a {
    font-size: 16px !important;
}

.side .author {
    color: #795548;
}

.post-sharing {
    grid-column: 2;
    background-size: cover;
}

.tabmenu li a {
    position: relative;
}

.create .spacer {
    display: none;
}

.sidecontentbox li {
    display: flex;
    justify-content: space-between;
    /* padding: 8px; */
    width: auto;
}

.userattrs {
    order: 0;
}

.media-preview-content {
    float: none !important;
    /* justify-content: center; */
}

.fonta,
.expando-button,
.tabmenu li *:before,
.expando-button,
.nextprev a {
    margin: 5px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    /* background-image: none!important; */
    font-size: 20px;
    content: '';
    /*     display: none; */
}

.nextprev a {
    /* padding: 20px; */
}

.next-button a {
    /* background-image: url(%%right%%) !important; */
}

.prev-button a {
    /* background-image: url(%%left%%) !important; */
}

.tabmenu li.selected a:before {
    padding: 13px;
}

.listing-page .tabmenu li:nth-child(1) a:before {
    padding: 13px;
    background-image: url(%%kumiko-head%%);
}

.listing-page .tabmenu li:nth-child(2) a:before {
    padding: 11px;
    background-image: url(%%news%%);
}

.listing-page .tabmenu li:nth-child(3) a:before {
    padding: 12px;
    background-image: url(%%rise%%);
}

.listing-page .tabmenu li:nth-child(4) a:before {
    padding: 13px;
    background-image: url(%%comments%%);
}

.listing-page .tabmenu li:nth-child(5) a:before {
    padding: 12px;
    background-image: url(%%sortup%%);
}

.listing-page .tabmenu li:nth-child(4) a:before {
    padding: 10px;
    background-image: url(%%comments%%);
}

.listing-page .tabmenu li:nth-child(6) a:before {
    padding: 6px;
    background-image: url(%%donate%%);
}

.listing-page .tabmenu li:nth-child(1).selected a:before {
    background-image: url(%%kumiko-head%%);
    /*     padding: 20px; */
}

.listing-page .tabmenu li:nth-child(2).selected a:before {
    background-image: url(%%news%%);
    /*     padding: 18px; */
}

.listing-page .tabmenu li:nth-child(3).selected a:before {
    background-image: url(%%rise%%);
    /*     padding: 11px; */
}

.listing-page .tabmenu li:nth-child(4).selected a:before {
    background-image: url(%%comments%%);
    /* padding: 17px; */
}

.listing-page .tabmenu li:nth-child(5).selected a:before {
    background-image: url(%%sortup%%);
    /*     padding: 14px; */
}

.listing-page .tabmenu li:nth-child(6).selected a:before {
    background-image: url(%%donate%%);
    /*     padding: 14px; */
}

.raisedbox h4 {
    font-size: 16px;
    font-weight: 100;
    text-transform: capitalize;
}

body.comments-page .tabmenu li:nth-child(1) a:before {
    padding: 17px;
    background-image: url(%%comments%%);
}

.search-header-label {
    text-transform: uppercase;
}

.linkinfo {
    border: none;
    background-color: transparent;
    color: #795548;
    text-align: center;
}

.expando {
    width: 80%;
    margin-left: 49px;
    clear: none;
}

.expando .media-preview img {
    animation: mediapreview 200ms;
}

.expando .error {
    background-color: red;
}

.subscribers {
    display: grid;
    color: #795548;
    font-size: 1.1vw;
    text-align: right;
    text-align: center;
}

.users-online:before {
    background-image: none;
}

.titlebox .subscribers:after {
    font-size: 1vw;
    text-align: center;
}

.redditname {
    grid-area: name;
}

.subscribe-button {
    grid-area: button;
}

.entry .buttons li a {
    color: hsl(0, 0%, 62%);
    font-weight: normal;
    /* padding: 0 0px 0px 2px; */
}

.subscribers {
    grid-area: subscribers;
}

.users-online {
    grid-area: online;
}

.titlebox .flairtoggle {
    grid-area: flairtoggle;
    font-size: 0px !important;
    text-align: center;
}

.flaircell input[name="text"]:before {
    font-size: 20px;
    content: 'dasasdasdadsadas';
}

.tabbedpane {
    width: 100%;
}

.flairtoggle label {
    font-size: 0px;
}

.flairselector form {
    display: grid;
    border-top: navajowhite;
}

.flairselection {
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid 1px #00BCD4;
}

.flairselector form>div {
    display: flex;
    align-items: center;
    padding: 4px;
}

.flairselector form>div .entry .buttons li a {
    font-size: 16px;
}

ul.image-preview-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

ul.image-preview-list .description {
    margin: 0px;
    padding: 12px;
}

ul.image-preview-list li {
    display: flex;
    flex-grow: 1;
    width: max-content;
    margin: 0px;
    padding: 12px 0px;
    box-shadow: 0 0;
}

.flairselector .flairremove {
    font-size: 0px;
}

.flairselector .flairremove a {
    color: #C62828 !important;
    font-size: 15px;
}

.flairselector ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100% !important;
    max-width: unset;
    margin: 10px 0px;
}

#charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#charts>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

h2,
h2>* {
    padding: 5px;
    color: hsl(19, 61%, 55%) !important;
    font-size: 24px !important;
    text-transform: capitalize;
}

.flairselector h2 {
    margin: 0px;
    padding: 5px;
    border-bottom: solid 1px;
    background-color: transparent;
    color: hsl(16, 25%, 38%) !important;
    font-size: 18px !important;
    text-align: left;
    text-transform: capitalize;
}

.flairtoggle:after {
    color: #795548;
    font-size: 18px !important;
    content: 'Show Flair';
}

.traffic-tables-side {
    height: max-content;
    min-height: max-content;
    padding: 20px;
}

.traffic-tables {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 20px;
}

.wiki-page-content {
    box-sizing: border-box;
    width: 100%;
    margin: 0px !important;
    padding: 25px 21px;
}

.tagline {
    grid-area: tagline !important;
}

.side .usertext {
    font-size: 13px;
}

.usertext {
    grid-area: usertext;
}

.reddit-comment-link {
    font-size: 12px;
}

.subscribers .number {
    font-size: 20px;
    text-align: center;
}

.titlebox h1 a:hover {
    text-decoration: none;
}

.titlebox .tagline {
    display: grid;
    grid-template-areas: "pic name" "pic edit";
    grid-template-columns: max-content max-content;
    grid-template-rows: auto auto;
    margin: auto !important;
    padding: 21px;
    font-size: 0px !important;
}

.titlebox .tagline .author {
    margin: 0px;
    font-size: 30px;
}

.flairselector li {
    display: inline-block !important;
    width: max-content;
    margin: 0px !important;
    padding: 10px;
}

.flairselector li.selected {
    border: none;
}

.flairselector li.selected .flair {
    box-sizing: border-box;
    margin: 0px !important;
    border: solid 3px #b55526;
}

.flairsample-right .author {
    display: none;
}

.tagline .flair {
    z-index: 30;
    grid-area: pic;
}

.tagline .author {
    grid-area: name;
}

.thing.comment .entry .md {
    /* margin: 5px 0px 7px 22px; */
}

.top-matter .tagline .author:before {
    padding: 0 5px;
}

.flairselectbtn {
    grid-area: edit;
    color: red;
    font-size: 13px;
    text-align: center;
}

.flairselectbtn:after {
    /* content: ' flair' */
}

.usertext-body {
    margin: 4px 0px 6px 2px;
    padding: 0px;
}

.footer a {
    color: white;
}

.titlebox {
    display: grid;
    grid-template-areas: "name name" "subscribers button" "online flairtoggle" "tagline tagline" "usertext usertext" "bottom bottom";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* width: 100%; */
    border-width: 1px 0px;
    background-color: white;
    box-shadow: 0 1px 2px #9E9E9E;
}

.titlebox>* {
    margin: 10px 0px 10px !important;
}

.bottom {
    box-sizing: border-box;
    display: grid;
    grid-area: bottom;
    grid-template-areas: "created flair" "name flair" "year flair";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    margin: auto !important;
    padding: 10px !important;
    border: none !important;
    border: solid 2px #795548 !important;
    color: hsl(259, 100%, 3%) !important;
}

.bottom .age {
    grid-area: year;
    font-size: 0.8vw;
}

.users-online {
    display: grid;
    margin-left: auto;
    color: #795548;
    font-size: 20px !important;
    text-align: center;
}

.tabmenu li a {}

.titlebox .fancy-toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
    height: unset;
    margin: 0px;
    border: none;
}

.titlebox h1 a:before {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 2.2vw;
    content: '/r/RareKumikos';
}

.sidecontentbox li .flair {
    display: none;
}

.flair {
    order: 3;
    border-radius: 50%;
    font-size: 0px;
}

.subscribers .word {
    font-size: 0px;
}

.subscribers .word:after {
    align-items: center;
    margin: auto;
    font-size: 1.1vw;
    content: 'Kumiko Enthusiast';
}

.bottom .flair {
    grid-area: flair;
    border: solid 4px hsl(51, 100%, 50%);
}

a.option.remove.active {
    padding: 10px;
    border: solid 2px;
    background-color: transparent;
    box-shadow: none;
    color: #795548;
}

.titlebox .fancy-toggle-button a {
    padding: 10px 20px;
    border: none;
    border-radius: 80px;
    background-color: #FF5722;
    background-image: none;
    box-shadow: 0px 1px 2px #9E9E9E;
    color: white;
    font-weight: bold;
}

.option.remove.login-required.active {
    border: solid 1px currentColor;
    background-color: transparent;
    color: #795548;
    font-weight: normal;
}

.option.remove.login-required.active:focus {
    outline: none;
}

.titlebox h1 {
    margin: 0px 0px 8px 0px !important;
    padding: 15px;
    border: navajowhite;
    border: solid 2px currentColor;
    box-shadow: 0px 1px 2px #EEEEEE;
    color: #795548 !important;
    font-weight: normal;
    text-align: center;
}

.titlebox h1 a {
    border: none;
    color: inherit;
    font-size: 0px;
}

.sidecontentbox .content {
    margin: 5px 0px;
    border: none;
    /* border-radius: 7px; */
    /* padding: 10px; */
}

a {
    color: #51799f;
    font-size: 13px;
}

.md a {
    color: #00838F;
    font-size: inherit;
}

p {
    font-size: 13px !important;
}

.footer {
    box-sizing: border-box;
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    width: calc(100vw/(3*1.618));
    margin: 0px !important;
    padding: 0px;
    border-radius: 0px;
    background: hsl(0, 0%, 100%);
    background-image: url(%%k-leave%%);
    background-size: cover;
    box-shadow: 0 2px 2px #BDBDBD;
}

.debuginfo {
    display: none;
}

.footer .col {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 5px;
    border: none !important;
    background-color: hsla(0, 0%, 0%, 0.34);
}

.flat-vert.title {
    color: hsl(0, 0%, 100%);
    font-size: 21px;
    text-shadow: 0 0 2px white;
}

.side {
    display: flex;
    grid-column-end: 4;
    grid-column-start: 4;
    grid-row-end: 3;
    grid-row-start: 2;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    float: unset;
    background-color: transparent;
    /* box-shadow: 0 2px 3px #BDBDBD; */
    color: white !important;
}

.side:hover {
    opacity: 1;
}

.link.last-clicked {
    border: none;
    border-bottom: dotted 1px hsla(0, 0%, 50%, 0.18);
}

#header-bottom-right {
    display: flex;
    position: unset !important;
    grid-column: b;
    margin-left: auto;
    padding: 10px;
    border: none;
}

.footer-parent {
    grid-column-start: 4;
    grid-row-start: 3;
    align-self: flex-end;
    padding: 0px;
    clear: unset;
    font-size: 15px;
}

.morelink {
    width: 100%;
    height: auto;
    margin: auto;
    border: none;
    /* border-radius: 50px; */
    background: linear-gradient(101deg, hsl(20, 65%, 43%), hsl(19, 61%, 55%));
    background-image: none;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 1px 2px #9E9E9E;
    transition: all 200ms;
}

.submit-text .morelink {
    background-color: #8f370d;
    background-image: url(%%k-read%%);
}

.submit-link .morelink {
    background-color: #8f370d;
    background-image: url(%%k-eye%%);
}

.morelink:hover {
    background-color: #521b01;
    background-position: center;
    background-repeat: unset !important;
}

.titlebox .users-online:after {
    width: 100%;
    font-size: 1vw;
    content: 'People currently staring at the floff';
}

.users-online .word,
.users-online {
    font-size: 0px;
}

.morelink a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: normal;
    text-shadow: 0 0 2px #351100;
}

.submit-link .morelink a {}

.submit-link .morelink a:before {
    font-size: 18px;
}

.reddit-link-title {
    color: #424242;
    font-size: 14px;
}

.reddit-link {
    margin-bottom: 12px;
}

.morelink .nub {
    display: none;
}

#search {
    box-sizing: border-box;
}

input {
    font-family: 'Open Sans', 'sans-serif' !important;
}

#search input[type=text] {
    width: 100%;
    margin: auto;
    padding: 10px;
    border: none;
    border: solid 2px #d37447;
    border-width: 0 0 2px;
    outline: none !important;
    background-color: transparent;
    color: #8f370d;
    font-size: 15px;
    /* text-transform: capitalize; */
    /* border-radius: 100px; */
}

#sr-header-area {
    /*     display: none; */
    position: absolute;
    top: 0px;
    width: 100%;
    opacity: 0.4;
}

body.submit-page {}

body,
#header-bottom-left {
    grid-template-columns: [sidea] 6.7vw [content] calc(100vw/1.618) [w] auto [side] calc(100vw/(3*1.618)) [sideb] 6.7vw [end];
}

#header-bottom-left {
    display: grid;
    grid-area: a;
    width: 100%;
    padding-top: 8px;
    border-width: 9px 0px 0 0;
    background-color: #b36137;
}

ul.tabmenu.formtab {
    box-sizing: border-box;
    display: flex;
    margin: 0px;
    padding: 2px;
    color: black !important;
}

.submit-page .tabmenu {
    /* background-color:#d37447; */
    /* margin: 20px!important; */
    border: solid 1px hsl(19, 61%, 55%);
}

.submit-page div.content {
    box-sizing: border-box;
    margin-top: 11px;
    padding: 0px;
}

.submit-page #header {
    height: 250px;
}

.submit-page #header-bottom-left {
    display: none;
}

#header-bottom-left .redditname {
    position: relative;
    grid-column-end: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    margin: 0px !important;
    font-size: 0px;
    text-align: center;
}

.redditname.pagename a {
    display: block;
    position: absolute;
    top: -52px;
    color: hsl(20, 53%, 46%);
    font-size: 37px;
    text-align: center;
    text-transform: lowercase !important;
}

.redditname.pagename a:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

#header-img.default-header {
    display: none;
    grid-column: sidea;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    text-indent: unset;
}

.tabmenu,
body>.content {
    /* width: calc(100vw/1.618); */
}

.tabmenu {
    display: flex;
    grid-column-start: 2;
    grid-row-end: 1;
    grid-row-start: 1;
    margin: 0;
    background-color: #FAFAFA;
    font-size: 14px;
    letter-spacing: 0px;
}

.tabmenu li a {
    border: none !important;
    background-color: hsla(0, 0%, 0%, 0) !important;
}

.tabmenu li.selected a {
    align-self: center;
    color: hsl(19, 61%, 55%);
    /* font-size: 0px; */
    text-align: center;
}

.comments-page .usertext {
    margin: 0px 0px 0px !important;
}

.comments-page li.selected a {
    font-size: 20px;
    text-align: left;
}

.submit-page .tabmenu li {
    justify-content: center;
    /* padding: 10px; */
    transition: all 200ms;
    transition-timing-function: cubic-bezier(0.07, 0.87, 1, 1);
}

.submit-page .tabmenu li.selected {
    /* border-bottom:solid 2px #8f370d; */
    background-color: #d37447;
}

#newlink-with-image-upload {
    box-sizing: border-box;
    display: grid;
    /* grid-template-areas: "url img" "title img"; */
    /* grid-template-columns: auto 50%; */
    /* grid-template-rows: auto 50%; */
    grid-template-columns: auto 0px;
    width: 100%;
    margin-top: 30px;
    padding: 30px 20px;
    padding: 0px !important;
}

#newlink-with-image-upload>* {
    /* margin: 0px 10px!important; */
}

#newlink-with-image-upload .spacer:nth-child(1) {}

#newlink-with-image-upload .spacer:nth-child(2) {
    /* grid-area: url; */
    grid-row-start: 2;
}

#newlink-with-image-upload .spacer:nth-child(3) {
    /* grid-area: img; */
    grid-row-start: 3;
}

#newlink-with-image-upload .spacer:nth-child(4) {
    grid-row-start: 1;
}

#newlink-with-image-upload .spacer:nth-child(5) {
    grid-column-end: 3;
    grid-column-start: 1;
}

.tabmenu li {
    display: flex;
    flex-grow: 1;
    justify-content: baseline;
    margin: 0px;
    margin: 2px 2px 0px;
}

.listing-page .tabmenu li.selected {
    border-bottom: solid 2px hsl(19, 61%, 55%);
}

.tabmenu li a {
    width: 100%;
    padding: 16px;
    color: #d37447;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: center;
    text-shadow: 0 0 2px #ffe3d5;
    text-transform: uppercase;
}

#header {
    display: grid;
    position: unset;
    grid-column-end: 6;
    grid-column-start: 1;
    grid-template-areas: "b" "a";
    grid-template-rows: auto max-content;
    align-items: flex-end;
    height: calc(104vw/8*1.618);
    border-bottom: none;
    background-image: url(%%Banner%%);
}

.thing .title:hover {}

.thing a.title:hover {
    text-decoration: underline;
}

.thing .title {
    display: flex;
    grid-area: title;
    align-items: center;
    margin: 0px 5px 0px 0px;
    padding: 3px 0px;
    color: #b55626;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
    letter-spacing: 0.1px;
    text-transform: none;
}

.thing .title:visited {
    color: hsl(20, 65%, 43%);
}

.link.saved {
    background-image: url(%%save%%);
    background-position: 87% -3px;
    background-repeat: no-repeat;
    background-size: 26px;
}

.link {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "no thumb vote content" "a a a a";
    grid-template-columns: 34px max-content 53px auto;
    grid-template-rows: auto max-content;
    align-items: center;
    width: 100%;
    min-height: 84px;
    margin: 0px !important;
    padding: 6px 0;
    border-bottom: dotted 1px hsla(0, 0%, 50%, 0.18);
    transition: all 100ms;
}

.link .rank {
    grid-area: no;
}

.sitetable {}

.sitetable.nestedlisting {
    margin-left: 0px;
}

.link .midcol {
    display: grid;
    grid-area: vote;
    height: auto;
    margin: auto;
    float: unset;
    font-size: 17px;
    font-weight: unset;
}

.thumbnail {
    grid-area: thumb;
    margin: 0px;
    padding: 0 5px;
}

.thumbnail.nsfw {
    box-sizing: border-box;
    height: 73px;
    margin: 5px;
    background-image: url(%%k-disgusted%%);
    background-position: center;
    background-size: cover;
}

.entry {
    grid-area: content;
    overflow: unset;
}

.link .rank {
    width: unset !important;
    margin: 0;
    font-size: 15px;
    text-align: center;
}

.thing.stickied.link a.title {
    color: #1a7958;
    font-weight: normal;
}

.thing.comment .entry {}

.thing.link>.entry {
    margin-left: 0px;
}

.entry {
    position: relative;
    align-self: stretch;
    margin-left: 22px;
}

.link .flair {
    z-index: -3;
    /* display:none; */
    position: absolute;
    top: 15%;
    right: 20px;
    /* transition:opacity 100ms; */
    /* transition-timing-function: ease-out; */
    font-size: 0px;
    opacity: 0.5;
}

.link:hover .flair,
.entry:hover .flair {
    opacity: 1 !important;
}

.top-matter {
    display: grid;
    position: relative;
    grid-template-areas: "title title" "play tagline" "play list";
    grid-template-columns: 49px auto;
    grid-template-rows: max-content max-content max-content;
    /* height: 100%; */
    align-items: start;
}

.sidecontentbox a.helplink {
    position: absolute;
    top: 46px;
    right: 11px;
    margin: 0px;
    float: unset;
}

span.title {
    grid-area: title;
    padding: 0px;
    color: hsl(0, 0%, 18%);
    font-size: 18px;
    text-transform: capitalize !important;
}

.sidecontentbox .title {
    padding: 6px;
    border-bottom: solid 1px #BDBDBD;
    color: #607D8B;
    font-size: 14px;
}

.sidecontentbox .title h1 {
    color: #757575 !important;
    font-weight: bold;
}

.expando-button {
    grid-area: play;
    margin: auto;
}
.morecomments {
}
.morecomments a{
    font-size: 13px!important;
    font-weight: normal!important;
}
.tagline {
    grid-area: info;
    align-self: end;
    color: #9E9E9E;
    font-size: 12px;
    font-size: 0px;
}

.flat-list {
    position: relative;
    grid-area: list;
    height: 100%;
    color: #757575;
    font-size: 10px;
}

.nsfw-stamp {
    border: none;
    border-radius: 0px;
}

.entry .buttons li {
    padding: 0px !important;
    font-size: 12px;
    line-height: unset;
}

a img {}

.media-preview img,
.media-preview video.preview {
    width: unset !important;
    max-width: 100%;
    height: unset !important;
    max-height: 70vh;
}

a.author {
    color: inherit;
    font-weight: normal !important;
}

.sidecontentbox a.author {
    align-self: center;
    color: #616161;
    font-size: 1.1vw;
}

.bottom a.author {
    grid-area: name;
    color: #8D6E63;
    font-size: 23px;
    font-weight: bold;
}

.domain,
.domain a {
    align-self: center;
    color: #d37447;
    font-size: 12px;
    text-transform: lowercase;
}

.report-modal .modal-content,
.tfa-login-modal .modal-content,
.backup-codes-modal .modal-content,
.tfa-verify-email-modal .modal-content,
.enable-tfa-modal .modal-content,
.disable-tfa-modal .modal-content {
    border: none;
}

time {
    font-size: 12px;
}

.report-modal .modal-body,
.tfa-login-modal .modal-body,
.backup-codes-modal .modal-body,
.tfa-verify-email-modal .modal-body,
.enable-tfa-modal .modal-body,
.disable-tfa-modal .modal-body {
    background-image: url(%%k-angry%%);
    background-size: cover;
}

.report-modal .report-reason-item .report-reason-display {
    color: white;
    font-family: inherit;
}

#report-action-form {
    padding: 10px;
    background-color: hsla(0, 0%, 0%, 0.38);
}

.report-modal .report-form-bottom-panel .report-form-content-policy p {
    color: white;
    font-family: inherit;
}

.c-btn-primary:hover,
.c-btn-primary:focus,
.c-btn-primary:active,
.c-btn-primary.disabled,
.c-btn-primary[disabled] {}

.report-modal .report-form-bottom-panel .report-form-content-policy a {
    color: #ffc1a3;
}
iframe>html>body{
    display:unset;
}

@media only screen and (max-width: 1120px) {
    .listing-page .tabmenu li a:before {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .link .flair {
        display: none;
    }
    body,
    #header-bottom-left {
        grid-template-columns: [sidea] 3vw [content] 66% [w] auto [side] 25% [sideb] 3vw [end];
    }
}

@keyframes mediapreview {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes heartpop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
        opacity: 0.7;
    }
    90% {
        transform: scale(1.1);
        opacity: 1
    }
    100% {
        transform: scale(1)
    }
}

